@media screen and (max-width:500px) {
html,body{
  width: 100%;
}

.container{
  width: 90%;
}
#navbar{
  width: 100%;
  height: 20px;
  position: relative;
  display: block;
}

header h1,.headings{
  width: 100%;
  font-size: 30px;
}

header h2{
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

nav{
  z-index: 1;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 7px;
}
#navbar .social-list img{
  float: right;
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0;
}

.social-list{
  margin-right: 7px;
}

.nav-list li a{
  font-size: 12px;
  display: block;
  width: 30px;
}


#bannerimage{
  /*background-repeat: no-repeat;
  height: 300px;
  width: 100%;*/
  display: none;
}


#banner,#bannerhead{
  width: 100%;
  z-index: 0;
}

.logos{
  width: 100%;
  height: 100px;
  background-image: url(images/feature-bg.jpg);
  margin-top: 40px;
  margin-bottom: 40px;
}

.positionimg{
  height: 60px;
  width: 60px;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  padding-top: 20px;
}


#web1{
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  left: 0px;

}


#graphic2{
  margin-top: 100px;
  width: 100%;
  margin-bottom: 0px;
  right: 0px;
  border: 1px solid white;
  background-position: bottom;


}


#video3{
  margin-top: 200px;
  margin-bottom: 0px;
  background-position: right top;
  right: 0px;
}


.logos a{
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif;
  height: 100px;
  float: left;
  width: 100%;
  display: flex;
}

.logos p {
  margin-top: 40px;
  font-size: smaller;
  font-weight: bold;
}


#contentstart{
  margin-top: 300px;
}

section p {
  font-size: 12px;
}

#laptops, #acme, #tablet, #acme2{
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: 550px 200px;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}



.portfoliobanner{
  width: 100%;
  height:20%;
  margin-top: 90%;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  bottom: 0px;
}

  .portfoliobanner p{
    float:left;
    font-size: 13px;;
    margin-top: 5px;
    text-align: center;
    color: white;
    font-family: 'Alegreya Sans', sans-serif;

  }

  .portfoliobanner img{
    float:right;
    margin: 5px;
    width: 30px;
    height: 30px;
  }

  .mobileonly{
    width: 90%auto;
    margin: 0 auto;

  }

  #footer1 .container{
    column-count: 1;
    column-width: 100;
  }
}
