
html, body, p, h1, h2, h3, h4, h5, h6, img, ul, li, .logos a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(119, 119, 119);
  text-decoration: none;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', sans-serif;
  color: rgb(228, 105, 101);
  font-weight: normal;

}


.container{
  width: 70%;
  margin: 0 auto;
}

.headings{
  font-size: 40px;
}



/*----------------------------NAVIGATION-----------------------------*/
nav{
  background-color: #DADADA;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.nav-list, .social-list{
  list-style: none;
}

.nav-list li, .social-list li{
  float: left;

}

.social-list{
  float: right;
}

.nav-list li{
  padding-right: 15px;
  padding-top: 10px;
}

.social-list li{
  padding-left: 15px;
  padding-top: 5px;
}

.nav-list li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2vw;
}

.social-list img{
  height: 2.2vw;
  width: 2.2vw;
}


/*------------------------HEADER-------------------------*/

header{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

header h1{
  font-size: 45px;
  text-decoration: none;
  font-weight: normal;
  color: rgb(119, 119, 119);
  margin-top: 30px;

}

header h2{
  font-weight:normal ;
  font-size: 21px;
}


/*----------------------------BANNER------------------------*/
#banner{
  background-color: rgb(54, 54, 54);
  width: 100%;
  z-index: -1;
}
.logos{
  z-index: 1;
  width: 33.33%;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  text-align: center;
}

#bannerimage{
  width: 100%;
  z-index: 0;
}

#bannerhead{
  position: relative;
}


#web1{
  left: 0px;
  border: 1px solid white;

}

#graphic2{
  right: 33.33%;
}

#video3{
  right: 0px;
  border: 1px solid white;
}

.container .logos{
  color: rgb(149, 156, 156);
  font-family: 'Alegreya Sans', sans-serif;
}

.positionimg{
  position: relative;
  padding-top: 30%;
  height: 5vw;
  width: 5vw;
}

.logos a{
  font-size: 1.3vw;
}




/*--------------------CONTENT------------------------*/


section{
  padding: 10px;
}


section p{
  font-size: 15px;
  color: rgb(119, 119, 119);

}

#portfoliolinks{
  background-color: rgb(218, 218, 218);
  width: 100%;
}

#laptops, #acme, #tablet, #acme2{
  width: 15vw;
  height: 15vw;
  background-position: center;
  background-size: 550px 200px;
  position: relative;
  display: inline-block;
}

#portfoliolinks h2{
  padding-bottom: 20px;
  padding-top: 20px;


}

#laptops{
  background-image: url(images/laptops.jpg);
  margin-right: 1%;
  margin-left: 1%;
}

#acme{
  background-image: url(images/acmelogo.gif);
  margin-right: 1%;

}

#tablet{
  background-image: url(images/tablet.jpg);
  margin-right: 1%;
}

#acme2{
  background-image: url(images/alogo.gif);
}

.portfoliobanner{
  width: 100%;
  height:4vw;
  margin-top: 90%;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  bottom: 0px;

}

.portfoliobanner p{
  float:left;
  font-size: 1vw;
  margin: 5%;
  text-align: center;
  color: white;
}

.portfoliobanner img{
  float:right;
  margin: 3%;
  width: 3vw;
  height: 3vw;
}

#portfoliolinks .container{
  padding-bottom: 40px;
}

/*-----------------------FOOTER-----------------------------------*/

#footer1{
  background-color: rgb(37, 37, 37);
  padding: 20px;

}

#footer1 p{
  color: rgb(157, 157, 157);
}

#footer1 .container{
  column-count: 3;
  column-width: 150px;
}

#footer1 .container div{
  padding-top: 20px;
  padding-bottom: 10px;
  height:200px;
  width: 100%;
}

footer{
  background-color: rgb(0, 0, 0);
  padding: 15px;
  text-align: center;
}

#footer1 .container div a {
  text-decoration: none;
}

#footer1 .container div a h2{
  font-size: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width:806px){
  #footer1 .container{
    column-count: 1;
  }
}










/*-------------------FOOTER PART-----------------------*/
